<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>hello</h1>
    {% if current_user in users_in_dev and goal_status == 'Done Goals' %}
        <p>Access restricted, as a DEv, You cannot move to Done goals</p>
        <script>alert('')</script>
    {% elif current_user in users_in_dev and current_user != user %}

        <p>Access restricted, as a Dev, You cannot move other users goals</p>
        <script>alert('')</script>
  
    {%endif%}
</body>
</html>